img {
    max-width: 100%;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $font-body;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: $grey;
}

.btn:focus {
    box-shadow: none;
    outline: 0;
}

// Rounded buttons
@for $i from 1 through 10 {
    .rounded-#{$i} {
        border-radius: #{$i}px;
    }
}

.text-italic {
    font-style: italic;
}

.text-decoration-none {
    text-decoration: none;
}

.bordered {
    border-width: 2px;
}

.letter-spacing-035 {
    letter-spacing: 0.035em;
}

.letter-spacing-03 {
    letter-spacing: 0.03em;
}

.text-primary-gradient {
    background: linear-gradient(
        93.28deg,
        #106daf 0.58%,
        #2677b0 18.68%,
        #3fadfa 26.66%,
        #2a8dd2 34.41%,
        #056ab0 41.55%,
        #2677af 49.08%,
        #259aec 55.97%,
        #2985c6 66.44%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

//Go To Top
#return-to-top {
    position: fixed;
    bottom: 95px;
    right: 13px;
    z-index: 9;
    background: $primary;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top img {
    margin: 0;
    position: relative;
    left: 13px;
    top: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover img {
    top: 4px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

::-webkit-scrollbar-thumb:hover {
    background: #022444;
}
