@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    .header-top-bar {
        padding: 27px 0;
        position: relative;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
        background: linear-gradient(
            90.52deg,
            #1770ad 0.84%,
            #1e75b1 18.13%,
            #2a94de 29.34%,
            #1e7ec1 40.67%,
            #2a87c8 60.06%,
            #2997e3 68.8%,
            #1582cd 77.35%,
            #106aa8 101.46%
        );

        .top-buttons {
            .btn {
                height: 55px;
                padding: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                font-family: $font-articulat;

                .arrow {
                    background-color: $white;
                    height: 39px;
                    width: 39px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;

                    @include media-breakpoint-down(sm) {
                        height: 21px;
                        width: 21px;

                        svg {
                            height: 10px;
                        }
                    }
                }

                @include media-breakpoint-down(sm) {
                    height: 29px;
                    padding: 2px;

                    &.phone-button {
                        width: 29px;
                    }
                }
            }
        }
    }

    .banner {
        background: imgUrl("banner.png");
        background-size: contain;
        padding: 55px 0 124px;

        @include media-breakpoint-up(xl) {
            padding: 161px 0 124px;
        }

        @include media-breakpoint-down(sm) {
            background: imgUrl("banner-mobile.png");
            background-size: contain;
            padding: 57px 0 69px;

            .high-quality {
                padding-top: 245px !important;
            }
        }
    }
}

section.about {
    padding: 26px 0 111px;
    position: relative;

    .about-circle-1 {
        position: absolute;
        top: -20%;
        left: 0;

        @include media-breakpoint-down(lg) {
            top: 2%;
            width: 103px;
        }

        @include media-breakpoint-down(sm) {
            width: 83px;
            top: 7%;
        }
    }

    .about-circle-2 {
        position: absolute;
        bottom: 10%;
        right: 0;

        @include media-breakpoint-down(lg) {
            width: 183px;
            bottom: 0;
        }

        @include media-breakpoint-down(sm) {
            width: 83px;
            bottom: 15%;
        }
    }
}

section.services {
    background-color: $grey;

    .service-nav-slider {
        overflow-y: visible;

        .slick-track {
            display: flex;
            align-items: center;
            justify-content: center;
            
            @include media-breakpoint-up(md) {
                margin-left: 70px;
            }
        }

        .service-nav {
            font-size: 1.5625rem; // 25px
            text-align: center;
            color: $tertiary;
            margin: 0 35px;
            padding: 105px 0;

            .reflection {
                display: none;
            }

            @include media-breakpoint-down(sm) {
                margin: 0 20px;
            }

            &.slick-current {
                color: $secondary;
                border-radius: 100px;
                border-top: 4px solid $secondary;
                border-left: 2px solid $secondary;
                border-right: 2px solid $secondary;
                padding: 5px 22px;
                position: relative;

                .reflection {
                    display: block;
                    position: absolute;
                    border-radius: 100px;
                    border-top: 4px solid $secondary;
                    border-left: 2px solid $secondary;
                    border-right: 2px solid $secondary;
                    padding: 5px 16px;
                    width: 100%;
                    transform: scale(1, -1);
                    left: 0;
                    top: 110%;
                    opacity: 0.2;
                }
            }
        }
    }

    .service-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
        }

        .service-slider-content {
            padding: 20px 0 81px;

            @include media-breakpoint-up(md) {
                padding: 20px 0 198px;
            }

            .service-buttons {
                .btn {
                    height: 55px;
                    display: flex;
                    align-items: center;

                    @include media-breakpoint-down(sm) {
                        height: 34px;
                    }
                }
            }

            $services: 1, 2, 3, 4, 5, 6;

            @each $service in $services {
                &.service-#{$service} {
                    background: imgUrl("service-#{$service}.png") center bottom;

                    @include media-breakpoint-up(lg) {
                        background-size: contain;
                    }

                    @include media-breakpoint-down(lg) {
                        background-size: 500%;
                    }
                }
            }
        }
    }

    .offers {
        padding-top: 34px;

        @include media-breakpoint-up(md) {
            padding-top: 50px;
        }

        .offer-box {
            border: 2px solid $primary;
            font-family: $font-articulat;
            font-weight: 700;
            font-size: 1rem;
            padding: 11px 17px;
            color: $primary;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
                padding: 7px 11px;
            }
        }
    }
}

section.business-type {
    background: imgUrl("business-type-mobile.jpg") center top $secondary;
    background-size: contain;
    color: $white;

    @include media-breakpoint-up(lg) {
        background: linear-gradient(#2d2c2c 0 35%, $secondary 35% 100%);
    }

    @include media-breakpoint-up(xl) {
        background: imgUrl("business-type.png") center top $secondary;
        background-size: contain;
    }

    .hero {
        padding-top: 66px;

        @include media-breakpoint-up(md) {
            padding-top: 108px;
        }
    }

    .type-slider {
        .slick-slide {
            padding: 91px 0 84px;
            filter: drop-shadow(3px 6px 19px rgba(0, 0, 0, 0.3));

            @include media-breakpoint-down(lg) {
                margin: 0 20px;
            }

            @include media-breakpoint-down(sm) {
                margin: 0 10px;
                padding-bottom: 35px;
            }
        }
    }

    .description {
        @include media-breakpoint-up(md) {
            padding-top: 400px;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 36px;
        }
    }
}

section.form {
    background-color: $grey;

    @include media-breakpoint-up(md) {
        padding: 91px 0;
    }

    @include media-breakpoint-up(lg) {
        padding: 91px 0 0;
    }

    .form-slider-wrapper {
        position: relative;

        .mobile-img {
            position: absolute;
            bottom: 0;
            left: -5%;
        }

        .form-slider {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
                display: flex;
                align-items: bottom;
            }

            &.slick-dotted.slick-slider {
                margin-bottom: 0;
            }

            .slick-dots {
                bottom: 15%;
                right: 3%;

                li {
                    button:before {
                        opacity: 1;
                        color: $grey;
                        background: $grey;
                        width: 9px;
                        height: 9px;
                        border-radius: 50px;
                        content: "";
                    }

                    &.slick-active button:before {
                        content: "";
                        background-color: $secondary;
                    }
                }
            }
        }
    }

    .form-wrapper {
        background: #ffffff;
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15);
        border-radius: 25px;
        border-top: 26px solid $secondary;
        padding: 25px 29px;

        @include media-breakpoint-up(md) {
            border-radius: 30px;
            padding: 29px 70px 55px;
            border-top: 35px solid $secondary;
        }

        @include media-breakpoint-down(sm) {
            margin-top: -48px;
            position: relative;
        }

        form {
            input,
            select {
                height: 44px;

                @include media-breakpoint-up(md) {
                    height: 56px;
                }
            }

            input,
            select,
            textarea {
                background: #e8e8e8;
                font-family: $font-articulat;
                box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.15);
                border-radius: 5px;
                color: #606060;
                padding: 8px 29px !important;
                font-size: 1rem;

                @include media-breakpoint-up(md) {
                    padding: 24px 31px;
                }
            }

            button {
                width: 100%;
                display: block;
                color: $white;
                font-weight: 700;
                font-family: $font-articulat;
                height: 42px;
                font-size: 1rem;

                @include media-breakpoint-down(xl) {
                    height: 58px;
                }
            }
        }
    }
}

section.gallery {
    background: imgUrl("gallery.png");
    background-size: cover;
    padding: 50px 0 0;

    @include media-breakpoint-up(md) {
        padding: 80px 0 61px;
    }

    @include media-breakpoint-up(lg) {
        padding: 164px 0 61px;
    }

    .gallery-slider {
        padding: 48px 0 24px;

        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            align-items: center;
            margin: 0 10px;
        }
    }

    .brands-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 40px;

            @include media-breakpoint-down(sm) {
                margin: 0 20px;
            }
        }
    }
}

section.gmb {
    position: relative;
    margin-bottom: -8px;
    border-top: 11px solid $primary;

    @include media-breakpoint-up(md) {
        border-top: 16px solid $primary;
    }

    .map-frame {
        height: 604px;

        @include media-breakpoint-up(md) {
            height: 965px;
        }
    }

    .social-links {
        position: absolute;
        top: 15%;
        left: 10%;

        @include media-breakpoint-down(xl) {
            left: 42px;
        }

        @include media-breakpoint-down(sm) {
            left: 0;
            top: 33px;
            padding: 0 16px;
            max-width: 70%;
        }

        .gmb-img {
            border-radius: 20px;
            overflow: hidden;
            filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
        }
    }
}

footer {
    font-size: 1rem;
    background-color: $secondary;
    color: $white;
    font-family: $font-articulat;
    padding: 32px 0;

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}
