@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    .header-top-bar {
        padding: 73px 0 27px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
        background: linear-gradient(
            90.52deg,
            #1770ad 0.84%,
            #1e75b1 18.13%,
            #2a94de 29.34%,
            #1e7ec1 40.67%,
            #2a87c8 60.06%,
            #2997e3 68.8%,
            #1582cd 77.35%,
            #106aa8 101.46%
        );

        .top-buttons {
            .btn {
                height: 55px;
                padding: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                font-family: $font-articulat;

                .arrow {
                    background-color: $white;
                    height: 39px;
                    width: 39px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
            }
        }
    }

    .banner {
        background: imgUrl("banner.png");
        background-size: contain;
        padding: 161px 0 124px;
    }
}

section.about {
    padding: 26px 0 111px;
    position: relative;

    .about-circle-1 {
        position: absolute;
        top: -20%;
        left: 0;
    }

    .about-circle-2 {
        position: absolute;
        bottom: 10%;
        right: 0;
    }
}

section.services {
    // padding-top: 105px;

    .service-nav-slider {
        overflow-y: visible;

        .slick-track {
            display: flex;
            align-items: center;
            margin-left: 70px;
        }

        .service-nav {
            font-size: 1.5625rem; // 25px
            text-align: center;
            color: $tertiary;
            margin: 0 35px;
            padding: 105px 0;

            .reflection {
                display: none;
            }

            &.slick-current {
                color: $secondary;
                border-radius: 100px;
                border-top: 4px solid $secondary;
                border-left: 2px solid $secondary;
                border-right: 2px solid $secondary;
                padding: 5px 22px;
                position: relative;

                .reflection {
                    display: block;
                    position: absolute;
                    border-radius: 100px;
                    border-top: 4px solid $secondary;
                    border-left: 2px solid $secondary;
                    border-right: 2px solid $secondary;
                    padding: 5px 16px;
                    width: 100%;
                    transform: scale(1, -1);
                    left: 0;
                    top: 110%;
                    opacity: 0.2;
                }
            }
        }
    }

    .service-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
        }

        .service-slider-content {
            padding: 20px 0 198px;

            .service-buttons {
                .btn {
                    height: 55px;
                    display: flex;
                    align-items: center;
                }
            }

            $services: 1, 2, 3, 4, 5, 6;

            @each $service in $services {
                &.service-#{$service} {
                    background: imgUrl("service-#{$service}.png") center bottom;
                    background-size: contain;
                }
            }
        }
    }

    .offers {
        padding-top: 50px;

        .offer-box {
            border: 2px solid $primary;
            font-family: $font-articulat;
            font-weight: 700;
            font-size: 1rem;
            padding: 11px 17px;
            color: $primary;
        }
    }
}

section.business-type {
    background: imgUrl("business-type.png") center top $secondary;
    background-size: contain;
    color: $white;

    .hero {
        padding-top: 108px;
    }

    .type-slider {
        .slick-slide {
            padding: 91px 0 84px;
            filter: drop-shadow(3px 6px 19px rgba(0, 0, 0, 0.3));
        }
    }

    .description {
        padding-top: 36px;
    }
}

section.gallery {
    background: imgUrl("gallery.png");
    background-size: cover;
    padding: 164px 0 61px;

    .brands-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 40px;
        }
    }
}

section.gmb {
    position: relative;
    margin-bottom: -8px;
    border-top: 16px solid $primary;

    .map-frame {
        height: 965px;
    }

    .social-links {
        position: absolute;
        top: 15%;
        left: 10%;

        @include media-breakpoint-down(xl) {
            left: 42px;
        }

        @include media-breakpoint-down(sm) {
            left: 0;
            top: 347px;
            padding: 0 16px;
        }

        .gmb-img {
            border-radius: 20px;
            overflow: hidden;
            filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
        }
    }
}

footer {
    font-size: 1rem;
    background-color: $secondary;
    color: $white;
    font-family: $font-articulat;
    padding: 32px 0;

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}
